<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf8">
        
        <title>Abuot Us</title>

        <link type="text/css" rel="stylesheet" href="/static/css/semantic.min.css">
        <link type="text/css" rel="stylesheet" href="/static/css/pokemon_detail.css">
        <link type="text/css" rel="stylesheet" href="/static/css/about.css">

    </head>
    <body>

    	<div class="main_content">
    		<!--顶部的导航栏-->
    		{% include 'include/nav.html' %}

            <div class="main">
            <!--二级搜索菜单-->
            
    		

           
            <div class="ui stackable items captain">
                <div class="item">
                    <div class="image">
                        <img src="/static/images/members/lei.png">
                        <a class="like ui corner label">
                            <i class="id basic icon"></i>
                        </a>
                    </div>
                    <div class="content">
                        <div class="meta">组长</div>
                        <div class="name">曹磊</div>
                        <p class="decription"><br/>
                            QQ:2684405895<br/>
                            Tel:13824400320<br/>
                            邮箱:2684405895@qq.com
                        </p>
                    </div>
                </div>
            </div>
            <div class="ui stackable items members">
                <div class="item">
                    <div class="image">
                        <img src="/static/images/members/weifang.png">
                        <a class="like ui corner label">
                            <i class="like icon"></i>
                        </a>
                    </div>
                    <div class="content">
                        <div class="meta">组员</div>
                        <div class="name">陈伟芳</div>
                        <p class="decription"><br/>
                            QQ:664285227<br/>
                            Tel:13642764725<br/>
                            邮箱:664285227@qq.com
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="/static/images/members/jiajian.png">
                        <a class="like ui corner label">
                            <i class="like icon"></i>
                        </a>
                    </div>
                    <div class="content">
                        <div class="meta">组员</div>
                        <div class="name">陈嘉健</div>
                        <p class="decription"><br/>
                            QQ:798095202<br/>
                            Tel:15920830188<br/>
                            邮箱:798095202@qq.com
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="/static/images/members/mingjin.jpg">
                        <a class="like ui corner label">
                            <i class="like icon"></i>
                        </a>
                    </div>
                    <div class="content">
                        <div class="meta">组员</div>
                        <div class="name">陈铭津</div>
                        <p class="decription"><br/>
                            QQ:304589072<br/>
                            Tel:18666376961<br/>
                            邮箱:304589072@qq.com
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="/static/images/members/wei.jpg">
                        <a class="like ui corner label">
                            <i class="like icon"></i>
                        </a>
                    </div>
                    <div class="content">
                        <div class="meta">组员</div>
                        <div class="name">陈蔚</div>
                        <p class="decription"><br/>
                            QQ:343515077<br/>
                            Tel:15521177227<br/>
                            邮箱:343515077@qq.com
                        </p>
                    </div>
                </div>
            </div>

    	    </div>
  
    	</div>


    	{% include 'include/sidebar.html' %}


    </body>

    <script type="text/javascript" src="/static/javascript/jquery.js"></script>
    {% include 'include/djangoAjaxPost.html' %}
    <script type="text/javascript" src="/static/javascript/semantic.min.js"></script>
    <script type="text/javascript" src="/static/javascript/pokemon_detail.js"></script>

</html>