span.t-红 {
	color: #ff1111;
}

span.t-绿 {
	color: #11bb11;
}

span.t-蓝 {
	color: #1111ff;
}

span.t-皮卡丘 {
	color: #ffd733;
}

span.t-金 {
	color: goldenrod;
}

span.t-银 {
	color: silver;
}

span.t-水晶 {
	color: #4fd9ff;
}

span.t-红宝石 {
	color: #a00000;
}

span.t-蓝宝石 {
	color: #0000a0;
}

span.t-绿宝石 {
	color: #00a000;
}

span.t-火红 {
	color: #ff7327;
}

span.t-叶绿 {
	color: #00dd00;
}

span.t-钻石 {
	color: #aaaaff;
}

span.t-珍珠 {
	color: #ffaaaa;
}

span.t-白金 {
	color: #999999;
}

span.t-心金 {
	color: #b69e00;
}

span.t-魂银 {
	color: #e1e1e1;
}

span.t-黑 {
	color: #444444;
}

span.t-白 {
	color: #c3c3c3;
}

span.t-黑2 {
	color: #424b50;
}

span.t-白2 {
	color: #e3ced0;
}

span.t-x {
	color: #025da6;
}

span.t-y {
	color: #ea1a3e;
}

span.t-对战棋 {
	color: #0b0080;
}

span.t-保育家 {
	color: #f7681a;
}

span.t-赤之救助 {
	color: #C50C50;
}

span.t-青之救助 {
	color: #095BAF;
}

span.t-时之探险 {
	color: #2190c7;
}

span.t-空之探险 {
	color: #7bb54f;
}