span.changePsw {
    font-size: 0.4em;
    font-weight: normal;
    color: grey;
}

div.specification {
	text-align: left;
	position: relative;
    padding-left: 4em!important;
    padding-right: 1.4em!important;
    vertical-align: middle;
    margin: 0;
}